@import 'nib';


$background-color = hsl(190, 90%, 7%);
$color = hsl(190, 20%, 75%);

$font-size = 16px;
$line-height = 1.5;
$font-family = monospace;


* {
  margin: 0;
  padding: 0;
}

a {
  color: hsl(174, 59%, 36%);
  &:hover {
    color: lighten(hsl(174, 59%, 36%), 10%);
  }
}

body {
  font: normal $font-size/$line-height $font-family;
  background: $background-color;
  color: $color;
  padding: 1em;
}

h1, h2 {
  font-family: 'Geo'
  color: #268bcb;
}


.app-header {
  height: 2em;
  line-height: 2em;
  position: fixed;
  top: 1em;
  left: 1em;
  right: 1em;
}

.app-title {
  float: left;

  a {
    color: #268bcb;
    text-decoration: none;
    letter-spacing: -.05em;
  }
}

.login-buttons-dropdown-align-right {
  float: right;
  position: relative;
}

.accounts-dialog {
  position: absolute;
  top: 2em;
  left: 0; right: 0;
}

.container {
  position: fixed;
  padding: .5em 1em;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 6em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.code {
  position: relative;
  margin: 0 0 1em;
}

.app-footer {
  position: fixed;
  bottom: 1em;
  left: 1em;
  right: 1em;
  z-index: 100;
  height: 4em;
  
  textarea {
    height: 4em;
    font-size: $font-size;
    width: 100%;
    background: lighten($background-color, 5%);
    border: 1px solid $background-color;
    border-radius: 5px;
    color: white;
    padding: 0.25em .5em;
    font: normal $font-size/$line-height $font-family;
    box-sizing: border-box;
  }

  button {
    position: absolute;
    top: -2.5em;
    right: 0;
  }
}

.delete {
  position: absolute;
  top: -.35em;
  left: -.5em;
  text-indent: -9999px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  line-height: 1em;
  background: #103d38;
  border-radius: 50%;

  &:before {
    content: '\D7';
    position: absolute;
    top: 50%;
    left: 50%;
    text-indent: 0;
    margin: -.45em -.3em;
    text-align: center;
  }
}


button {
  display: block;
  height: 2em;
  padding: 0 .5em;
  line-height: 2em;
  background: rgba(255,255,255,.5);
  border: 0;
  border-radius: 2px;
  -webkit-appearance: none;
  font: normal 16px/1em monospace;
  text-transform: lowercase;
}


pre.prettyprint {
  width: auto;
  margin: 0;
  background: rgba(0,0,0,.5);
  border: 1px solid rgba(0,0,0,.75);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.85);
}


video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 300px;
  margin: -150px -250px;
  z-index: 100;
  background: rgba(0,0,0,.5);
}


time {
  position: absolute;
  bottom: 0;
  right: .25em;
  font-size: .75em;
  color: hsl(190,60%,15%);
}