@import 'nib';


$background-color = hsl(190, 90%, 7%);
$color = hsl(190, 20%, 75%);

$font-size = 16px;
$line-height = 1.5;
$font-family = 'droid sans mono', menlo, monospace;


* {
  margin: 0;
  padding: 0;
}

a {
  color: hsl(174, 59%, 36%);
  &:hover {
    color: lighten(hsl(174, 59%, 36%), 10%);
  }
}

body {
  font: normal $font-size/$line-height $font-family;
  background: $background-color;
  color: $color;
  padding: 1em;
}

h1, h2 {
  font-family: 'Geo', $font-family;
  color: #268bcb;
}

input {
  display: block;
  width: auto;
  height: 2em;
  line-height: 2em;
  font: normal 16px/1 monospace;
  background: rgba(255,255,255,.25);
  border: 1px solid rgba(0,0,0,.75);
  border-radius: 3px;
  padding: 0 .5em;
  width: 100%;
  box-sizing: border-box;
}

#login-name-link {
  position: relative;
  cursor: pointer;
}

.login-button, .additional-link {
  display: block;
  text-align: center;
  background: rgba(255,255,255,.15);
  border-radius: 2px;
  margin: .5em 0 0;
  cursor: pointer;

  &:hover { background: rgba(255,255,255,.25); }
}

.login-button { background: rgba(255,255,255,.12); }


.app-header {
  height: 2em;
  line-height: 2em;
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  z-index: 10;
}

.app-title {
  float: left;

  a {
    width: 3.25em;
    display: block;
    height: 1em;
    text-indent: -9999px;
    background: url(/logo.svg) no-repeat left center;
    background-size: 4.25em;
  }
}

.login-buttons-dropdown-align-right {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2em;
  line-height: 2em;
  z-index: 100;
}

.accounts-dialog {
  position: absolute;
  top: 2em;
  right: 0;
  z-index: 100;
  background: black;
  width: 300px;
  width: 12em;
  padding: .75em 1em;
}

.container {
  position: absolute;
  padding: .5em 1em;
  top: 4em;
  left: 0;
  right: 0;
  bottom: 6em;
  overflow-x: hidden;
  overflow-y: scroll;
}

.code {
  position: relative;
  margin: 2em 0 0;

  &:first-child { margin-top: 1em; }

  .author {
    position: absolute;
    top: -2em;
    left: 0;
    font-size: .75em;
  }

  .lang {
    position: absolute;
    bottom: 1.55em;
    right: .25em;
    border-radius: 2px;
    font-size: .75em;
    color: $background-color;
    line-height: 1em;
    padding: 0 .5em;
    background: rgba(white, .25);
    text-transform: uppercase;

  }

  time {
    position: absolute;
    bottom: 0;
    right: .25em;
    font-size: .75em;
    color: hsl(190,60%,15%);
  }
}

.app-footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
  z-index: 100;
  height: 4em;
  
  textarea {
    height: 4em;
    font-size: $font-size;
    width: 100%;
    background: lighten($background-color, 5%);
    border: 1px solid $background-color;
    border-radius: 5px;
    color: white;
    padding: 0.25em 8.5em 0.25em 0.5em;
    font: normal $font-size/$line-height $font-family;
    box-sizing: border-box;
    resize: none;

    &:focus {
      outline: 0;
      background: lighten($background-color, 2.5%);
    }
  }

}



#new-snippet-language, #new-snippet-submit {
  position: absolute;
  right: 0.5em;
  height: 1.65em;
  font-size: .85em;
  border: 0;
  background: white;
  width: 9em;
  font-family: $font-family;
  padding: 0 .5em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
}

#new-snippet-language { top: 0.5em; }

#new-snippet-submit { bottom: 0.5em; }

.delete, .login-close-text {
  position: absolute;
  top: -.35em;
  right: -.5em;
  text-indent: -9999px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  line-height: 1em;
  background: #103d38;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background: darken(#103d38, 10%);
  }

  &:before {
    content: '\D7';
    position: absolute;
    top: 50%; left: 50%;
    text-indent: 0;
    margin: -.5em -.3em;
    text-align: center;
    font-size: 1em;
    line-height: 1em;
  }
}


select {
  background: rgba(white,.5);
}

button {
  display: block;
  height: 2em;
  padding: 0 .5em;
  line-height: 2em;
  background: rgba(white,.5);
  border: 0;
  border-radius: 2px;
  -webkit-appearance: none;
  font: normal 16px/1em monospace;
  text-transform: lowercase;
  
  &:hover {
    cursor: pointer;
    background: rgba(white,.85);
  }
}


pre.prettyprint {
  width: auto;
  margin: 0;
  background: rgba(black, .5);
  border: 1px solid rgba(black, .75);
  box-shadow: inset 0 1px 1px rgba(black, .85);
  border-radius: 3px;
}


.public {
  .app-header {
    position: static;
    height: 6em;
    line-height: 6em;

    .app-title {
      float: none;

      a {
        margin: .5em auto;
        height: 2em;
        width: 6.7em;
        background-size: 8.75em;
      }
    }
  }

  .login-close-text { display: none; }

  #login-buttons {
    position: static;
    margin: auto;
    max-width: 320px;
    text-align: center;
    padding: 0 1em;
  }

  #login-dropdown-list {
    position: static;
    background: transparent;
    width: auto;
  }
}




#login-sign-in-link {
  width: 90px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    animation: none;
    color: white
  }
}



#login-sign-in-link {
  animation: glisten 5s linear infinite;
}

@-webkit-keyframes glisten {
  0% { background-position: 0 center; }
  100% { background-position: 180px center; }
}

@-moz-keyframes glisten {
  0% { background-position: 0 center; }
  100% { background-position: 180px center; }
}

.user-avatar {
  float: left;
  width: 4em;
  height: 4em;
  margin-left: 2em;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  font-size: 0.45em;
  text-align: center;
  line-height: 1.5em;
  padding: 0.15em;
  text-decoration: none;
  color: transparent;
  cursor: pointer;

  &:hover {
    color: #eee
    
    img {
      z-index: -1;
      opacity: .5;
    }
  }

  img {
    max-width: 100%;
    height: 100%
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.user-avatar-upload {
    border: 1px dashed #fff;
    color: #eee
  }
}


.video-box {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin: -200px;
  z-index: 100;
  border-radius: 2px
  background: rgba(black, .5);

  button {
    position: absolute;
    bottom: 2em;
    left: 50%;
    width: 8em;
    white-space: nowrap;
    margin-left: -4em;
  }

}

.video-container {
  position: absolute;
  top: 1em; bottom: 1em;
  left: 1em; right: 1em;
  overflow: hidden;
  
   video {
    width: 600px;
    height: 400px;
    margin-left: -100px;
  }
}





@media screen and (max-width: 500px) {
  
  #login-name-link {
    text-indent: -9999px;
    display: block;
    position: relative;

    &:before {
      text-indent: 0;
      content: '\2015  \2015  \2015';
      position: absolute;
      top: 0.1em;
      right: 0.15em;
      font-size: 2em;
      width: 20px;
      height: 20px;
      line-height: 6px;
    }
  }
}

